Repository dwalleck/mental-health-bar-rs: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src-tauri/**/*.rs": [
    "bash -c 'cd src-tauri && cargo fmt'",
    "bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'"
  ],
  "src/**/*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.svelte": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.css": [
    "prettier --write"
  ]
}

refactor: replace hardcoded error type strings with constants
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/mood/commands.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: resolve CI test failures - Clippy and TypeScript errors
  src-tauri/src/errors.rs
  src/lib/components/scheduling/ScheduleForm.test.ts
  src/lib/components/scheduling/ScheduleList.test.ts
  src/lib/components/ui/DataTable.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: replace hardcoded error type strings with constants in queries
  src-tauri/src/features/assessments/queries.rs
  src-tauri/src/features/visualization/queries.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat: add toast deduplication and document error details field
  src-tauri/src/errors.rs
  src/lib/stores/toast.test.ts
  src/lib/stores/toast.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: eliminate error type constant duplication with specta
  src-tauri/src/errors.rs
  src/lib/bindings.ts
  src/lib/utils/types.test.ts
  src/lib/utils/types.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: improve error messages and reduce production logging noise
  src-tauri/src/errors.rs
  src-tauri/src/features/scheduling/models.rs
  src-tauri/src/features/visualization/models.rs
  src/lib/utils/retry.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

docs: update error handling guidelines and fix deprecated error type usage
  CLAUDE.md
  src-tauri/src/errors.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: resolve TypeScript and Svelte 5 compatibility errors in UI components
  src/lib/components/ui/DataTable.svelte
  src/lib/components/ui/ErrorMessage.test.ts
  src/lib/components/ui/FormLayout.svelte
  src/lib/components/ui/LoadingSpinner.svelte
  src/routes/ui-showcase/+page.svelte
Due: prettier --write, eslint --fix

fix: update ErrorMessage test assertion to match 'internal' error type
  src/lib/components/ui/ErrorMessage.test.ts
Due: prettier --write, eslint --fix

refactor: migrate from deprecated error_types module to ErrorType enum
  src-tauri/src/errors.rs
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/assessments/queries.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/scheduling/models.rs
  src-tauri/src/features/visualization/models.rs
  src-tauri/src/features/visualization/queries.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address PR #28 feedback
  .claude/agents/auto-error-resolver.md
  .claude/agents/code-architecture-reviewer.md
  .claude/agents/code-refactor-master.md
  .claude/agents/documentation-architect.md
  .claude/agents/frontend-error-fixer.md
  .claude/agents/plan-reviewer.md
  .claude/agents/refactor-planner.md
  .claude/commands/dev-docs-update.md
  .claude/commands/dev-docs.md
  catalyst-css-extraction-guide.md
  dev/active/major-refactoring-2025/DECISIONS.md
  dev/active/major-refactoring-2025/PRAGMATIC-PRINCIPLES.md
  dev/active/major-refactoring-2025/major-refactoring-2025-context.md
  dev/active/major-refactoring-2025/major-refactoring-2025-plan.md
  dev/active/major-refactoring-2025/major-refactoring-2025-tasks.md
  new-features.md
  package.json
  react-vs-svelte-decision.md
  rust-best-practices.md
  src/lib/components/charts/AssessmentChart.test.ts
  src/lib/components/ui/FormLayout.svelte
  src/routes/e2e-test/+page.svelte
  src/routes/heroicons-test/+page.svelte
  svelte-best-practices.md
Due: prettier --write, eslint --fix

fix: address additional PR #28 review suggestions
  src/lib/components/dashboard/DashboardScores.svelte
  src/routes/e2e-test/+page.svelte
  src/routes/heroicons-test/+page.svelte
Due: prettier --write, eslint --fix

feat: add navigation links for test pages
  src/routes/+layout.svelte
  src/routes/e2e-test/+page.svelte
  src/routes/heroicons-test/+page.svelte
Due: prettier --write, eslint --fix

Updating instructions
  dev/active/major-refactoring-2025/DECISION-LOG.md
  dev/active/major-refactoring-2025/REVISED-plan.md
  dev/active/major-refactoring-2025/REVISED-tasks.md
  dev/active/major-refactoring-2025/REVISION-SUMMARY.md
  dev/active/major-refactoring-2025/algorithms.md
  dev/active/major-refactoring-2025/archive/major-refactoring-2025-context.md
  dev/active/major-refactoring-2025/archive/major-refactoring-2025-plan.md
  dev/active/major-refactoring-2025/archive/major-refactoring-2025-tasks.md
  dev/active/major-refactoring-2025/catalyst-integration-spec.md
  dev/active/major-refactoring-2025/component-architecture.md
  dev/active/major-refactoring-2025/data-structures.md
  dev/active/major-refactoring-2025/svelte5-architecture.md
  dev/active/major-refactoring-2025/tailwind4-design-system.md
  new-features.md
Due: none

update instructions
  dev/active/major-refactoring-2025/AGENT-INSTRUCTIONS.md
Due: none

feat: implement activity groups database schema (tasks 1.1-1.10)
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src-tauri/src/db/migrations.rs
  src-tauri/src/db/migrations/003_activity_groups.sql
  src-tauri/src/db/migrations/003_activity_groups_rollback.sql
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat: create activities feature module with domain models (task 1.11)
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src-tauri/src/features/activities/mod.rs
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/mod.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

test: add integration tests for create_activity_group (task 1.12 - TDD red)
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src-tauri/tests/test_activity_groups.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: update Activity model and all tests to include group_id
  src-tauri/src/db/migrations/003_activity_groups.sql
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/src/features/mood/repository_trait.rs
  src-tauri/src/features/visualization/repository.rs
  src-tauri/tests/test_activities.rs
  src-tauri/tests/test_activity_groups.rs
  src-tauri/tests/test_mockall_example.rs
  src-tauri/tests/test_mood.rs
  src-tauri/tests/test_visualization.rs
  src/lib/bindings.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: update frontend Activity type usage and fix test mocks
  src/lib/components/charts/ActivityCorrelationChart.test.ts
  src/lib/components/charts/MoodChart.test.ts
  src/lib/components/mood/ActivityForm.test.ts
  src/lib/components/mood/ActivityList.test.ts
  src/lib/components/mood/ActivitySelector.test.ts
  src/lib/components/mood/MoodHistoryList.test.ts
  src/lib/stores/mood.test.ts
  src/routes/e2e-test/+page.svelte
Due: prettier --write, eslint --fix

fix: address PR review comments - validation and migration fixes
  src-tauri/src/db/migrations/003_activity_groups.sql
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/tests/test_activities.rs
  src-tauri/tests/test_activity_groups.rs
  src-tauri/tests/test_property_based.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address additional PR review comments
  src-tauri/src/db/migrations/003_activity_groups_rollback.sql
  src-tauri/src/features/activities/models.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address final PR review comments
  src-tauri/src/db/migrations/003_activity_groups.sql
  src-tauri/src/db/migrations/003_activity_groups_rollback.sql
  src-tauri/src/features/activities/models.rs
  src-tauri/tests/test_activity_groups.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address critical PR review comments - transaction safety and validation gaps
  src-tauri/src/db/migrations.rs
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/mood/models.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

docs: add cascade delete documentation and consistent transaction patterns
  src-tauri/src/db/migrations.rs
  src-tauri/src/db/migrations/003_activity_groups.sql
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: address final PR recommendations for production readiness
  src-tauri/src/db/migrations/003_activity_groups.sql
  src-tauri/src/features/activities/models.rs
  src-tauri/tests/test_activity_groups.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat: implement activity groups repository layer (tasks 1.13-1.20)
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src-tauri/src/features/activities/mod.rs
  src-tauri/src/features/activities/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address PR review feedback for activity groups repository
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/activities/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: remove invalid unwrap() call on parking_lot MutexGuard
  src-tauri/src/features/activities/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat: implement Activity and ActivityLog repository methods (tasks 1.21-1.29)
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src-tauri/src/features/activities/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

docs: add repository best practices guide
  REPOSITORY-BEST-PRACTICES.md
Due: none

fix: add input trimming to activity and log methods
  .claude/settings.local.json
  .github/workflows/claude-code-review.yml
  package-lock.json
  pr-body-week1-activity-logs.md
  pr-body-week1-logs.md
  pr-body.md
  pr-comment.md
  src-tauri/src/db/mod.rs
  src-tauri/src/features/activities/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: add missing tracing::warn import for Unix builds
  src-tauri/src/db/mod.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: prevent duplicate CI runs on feature branch PRs
  .github/workflows/ci.yml
Due: none

fix: enable Claude code review for all PRs
  .github/workflows/claude-code-review.yml
Due: none

refactor: standardize all repositories to best practices
  .claude/settings.local.json
  REPOSITORY-BEST-PRACTICES.md
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/scheduling/repository.rs
  src-tauri/tests/test_assessments.rs
  src-tauri/tests/test_mood.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: apply UTF-8 character counting to Activities repository
  src-tauri/src/features/activities/models.rs
  src-tauri/tests/test_activities.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'
