Repository dwalleck/mental-health-bar-rs: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

perf: add Criterion benchmarks and comprehensive documentation (Tasks 4.15-4.23)
  CLAUDE.md
  README.md
  docs/ACTIVITY_GROUPS_GUIDE.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/benches/activity_groups_benchmarks.rs
  src-tauri/benches/activity_logs_benchmarks.rs
  src-tauri/benches/reporting_benchmarks.rs
  src-tauri/tests/test_performance.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: correct crate name and API signatures in test_performance.rs
  src-tauri/tests/test_performance.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: remove redundant test_performance.rs
  src-tauri/tests/test_performance.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

docs: address PR review comments - add CI, transaction patterns, benchmarking guidelines
  CLAUDE.md
  README.md
  docs/ACTIVITY_GROUPS_GUIDE.md
  src-tauri/benches/activity_logs_benchmarks.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: remove development UI showcase and test pages
  .claude/settings.local.json
  dev/active/major-refactoring-2025/REVISED-tasks.md
  dev/active/sync-service/sync-service-architecture.md
  dev/active/sync-service/sync-service-context.md
  dev/active/sync-service/sync-service-plan.md
  dev/active/sync-service/sync-service-tasks.md
  package-lock.json
  package.json
  playwright.config.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/heroicons-test/+page.svelte
  src/routes/ui-showcase-simple/+page.svelte
  src/routes/ui-showcase/+page.svelte
  tests/README-e2e.md
  tests/e2e/basic.tauri.spec.ts
  tests/e2e/home.web.spec.ts
  tests/e2e/tauri.fixture.ts
  tests/tauri/launch-tauri.ts
Due: prettier --write, eslint --fix

refactor: remove remaining test routes (e2e-test, test-toasts)
  src/routes/+layout.svelte
  src/routes/e2e-test/+page.svelte
  src/routes/test-toasts/+page.svelte
Due: prettier --write, eslint --fix

feat(mood): implement 7-point mood scale and activity grouping
  src-tauri/src/db/migrations.rs
  src-tauri/src/db/migrations/004_mood_scale_1_to_7.sql
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/tests/test_database.rs
  src-tauri/tests/test_mood.rs
  src/lib/components/mood/ActivitySelector.svelte
  src/lib/components/mood/ActivitySelector.test.ts
  src/lib/components/mood/MoodHistoryList.svelte
  src/lib/components/mood/MoodHistoryList.test.ts
  src/lib/components/mood/MoodScaleInput.svelte
  src/lib/components/mood/MoodScaleInput.test.ts
  src/lib/utils/colors.test.ts
  src/lib/utils/colors.ts
  src/routes/mood/history/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: improve mood check-in UX and update task tracking
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src/routes/+layout.svelte
  src/routes/mood/+page.svelte
Due: prettier --write, eslint --fix

docs: update FR-009b from daily to weekly assessment limit
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

feat(assessments): add draft status support (FR-009a)
  src-tauri/src/db/migrations/005_assessment_status.sql
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/assessments/repository_trait.rs
  src/lib/bindings.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

feat(assessments): add draft assessments query (FR-009a)
  src-tauri/src/features/assessments/queries.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/lib.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat(assessments): implement draft assessments (FR-009a)
  src-tauri/src/db/migrations.rs
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/repository.rs
  src/lib/components/assessments/AssessmentForm.svelte
  src/lib/components/assessments/AssessmentList.svelte
  src/routes/assessments/drafts/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

docs: mark FR-009a as complete in REVISED-tasks.md
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

fix(assessments): address PR #46 review feedback for draft assessments
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src-tauri/src/features/assessments/repository.rs
  src/lib/components/assessments/AssessmentForm.svelte
  src/routes/assessments/drafts/+page.svelte
  src/routes/charts/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix(assessments): address PR review issues for draft assessments
  src-tauri/src/features/assessments/repository.rs
  src-tauri/tests/repository_integration.rs
  src-tauri/tests/test_assessments.rs
  src-tauri/tests/test_mood.rs
  src-tauri/tests/test_visualization.rs
  src/lib/bindings.ts
  src/lib/components/assessments/AssessmentForm.svelte
  src/lib/components/assessments/AssessmentForm.test.ts
  src/lib/components/assessments/AssessmentResults.test.ts
  src/lib/components/dashboard/DashboardScores.test.ts
  src/routes/assessments/drafts/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: replace stringly-typed fields with enums and newtypes
  src-tauri/benches/reporting_benchmarks.rs
  src-tauri/src/features/activities/commands.rs
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/activities/repository.rs
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/lib.rs
  src-tauri/src/types/activity.rs
  src-tauri/src/types/assessment.rs
  src-tauri/src/types/mod.rs
  src-tauri/src/types/mood.rs
  src-tauri/tests/repository_integration.rs
  src-tauri/tests/test_activity_groups_integration.rs
  src-tauri/tests/test_assessments.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix(assessments): address PR #46 review feedback
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/assessments/queries.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/assessments/repository_trait.rs
  src-tauri/tests/repository_integration.rs
  src-tauri/tests/test_assessments.rs
  src-tauri/tests/test_visualization.rs
  src/lib/components/assessments/AssessmentForm.svelte
  src/lib/components/assessments/AssessmentForm.test.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: resolve TypeScript errors blocking CI
  package-lock.json
  package.json
  src/lib/components/activity-groups/ActivityGroupList.test.ts
  src/lib/components/charts/ActivityReportCard.svelte
  src/lib/components/charts/ActivityTrendChart.svelte
  src/lib/components/charts/GoalProgressDashboard.svelte
  src/lib/components/mood/MoodScaleInput.test.ts
  src/routes/charts/+page.svelte
  tests/e2e/tauri.fixture.ts
  tsconfig.json
  vite.config.js
Due: prettier --write, eslint --fix

fix(ci): adjust coverage thresholds and exclude routes
  vitest.config.ts
Due: none

fix(assessments): address PR #46 review feedback (round 2)
  src-tauri/src/db/migrations/005_assessment_status.sql
  src-tauri/src/features/assessments/repository.rs
  src/lib/components/assessments/AssessmentForm.svelte
  src/lib/components/assessments/AssessmentForm.test.ts
  src/lib/constants/assessments.ts
  src/routes/assessments/drafts/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix(ui): add rest props support to Button component
  src/lib/components/ui/Button.svelte
Due: prettier --write, eslint --fix

build: add svelte-check to pre-commit hooks
  .husky/pre-commit
Due: none

fix(assessments): address PR #46 review feedback (round 3)
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/assessments/repository.rs
  src/routes/assessments/drafts/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix(assessments): address PR #46 review feedback (round 4)
  src-tauri/src/db/migrations.rs
  src-tauri/src/db/migrations/006_draft_unique_constraint.sql
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor(mood): use MoodRating newtype in domain models
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/tests/test_mockall_example.rs
  src-tauri/tests/test_mood.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor(mood): use HexColor newtype in Activity model
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/tests/test_activities.rs
  src-tauri/tests/test_mockall_example.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor(types): consolidate Activity struct to single source of truth
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/activities/repository.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/types/activity.rs
  src-tauri/src/types/mod.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

docs(types): document timestamp-as-string design decision
  src-tauri/src/types/mod.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor(assessments): remove unused deprecated constants
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/types/assessment.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor(validation): use HexColor newtype for color validation in DTOs
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/tests/test_property_based.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix(assessments): address PR #46 review feedback (round 4)
  src-tauri/src/db/migrations/007_history_query_index.sql
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/tests/repository_integration.rs
  src-tauri/tests/test_assessments.rs
  src-tauri/tests/test_visualization.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

chore: initialize rivets issue tracker with migrated tasks
  .rivets/.gitignore
  .rivets/config.yaml
  .rivets/issues.jsonl
Due: none

fix(frontend): resolve TypeScript errors and improve SvelteMap reactivity
  src/lib/bindings.ts
  src/lib/components/assessments/AssessmentList.test.ts
  src/lib/components/charts/AssessmentChart.integration.test.ts
  src/lib/components/charts/AssessmentChart.test.ts
  src/lib/components/dashboard/DashboardScores.svelte
  src/lib/components/scheduling/ScheduleForm.test.ts
Due: prettier --write, eslint --fix

docs(CLAUDE.md): add SvelteMap/SvelteSet reactivity pattern
  CLAUDE.md
Due: none

Path conditions:
  bash -c 'cd src-tauri && cargo fmt': any of: src-tauri/**/*.rs
  bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true': any of: src-tauri/**/*.rs
  prettier --write: ((any of: src/**/*.{ts,js}) or (any of: src/**/*.svelte)) or (any of: src/**/*.css)
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.svelte)
