Repository dwalleck/mental-health-bar-rs: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src-tauri/**/*.rs": [
    "bash -c 'cd src-tauri && cargo fmt'",
    "bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'"
  ],
  "src/**/*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.svelte": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.css": [
    "prettier --write"
  ]
}

test: verify rust formatting hooks
  .lintstagedrc.json
  src-tauri/src/features/mood/models.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

chore: set up husky + lint-staged for auto-formatting and linting
  duckdb-cascading-delete.md
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/mod.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/queries.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/tests/test_assessments.rs
  src-tauri/tests/test_mood.rs
  src/routes/+layout.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

feat: migrate to SQLite and complete mood tracking features
  eslint.config.js
  specs/001-mental-health-tracking/research.md
  specs/001-mental-health-tracking/tasks.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/db/migrations.rs
  src-tauri/src/db/migrations/001_initial_schema.sql
  src-tauri/src/db/mod.rs
  src-tauri/src/errors.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/queries.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/src/lib.rs
  src-tauri/tests/test_activities.rs
  src/lib/bindings.ts
  src/lib/components/mood/ActivityForm.svelte
  src/lib/components/mood/ActivityList.svelte
  src/lib/components/mood/ActivitySelector.svelte
  src/lib/components/mood/MoodHistoryList.svelte
  src/lib/components/mood/MoodScaleInput.svelte
  src/lib/stores/mood.ts
  src/lib/utils/colors.ts
  src/routes/+layout.svelte
  src/routes/mood/+page.svelte
  src/routes/mood/activities/+page.svelte
  src/routes/mood/history/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: update event handler syntax for Svelte 5 compatibility
  src/lib/components/mood/ActivityForm.svelte
  src/routes/mood/+page.svelte
Due: prettier --write, eslint --fix

refactor: consolidate mood color/label constants (DRY)
  src/lib/components/mood/MoodHistoryList.svelte
  src/lib/components/mood/MoodScaleInput.svelte
  src/lib/utils/colors.ts
  src/routes/mood/+page.svelte
Due: prettier --write, eslint --fix

fix: address critical data integrity and race condition issues
  src-tauri/src/db/migrations/001_initial_schema.sql
  src-tauri/src/features/mood/repository.rs
  src-tauri/tests/test_activities.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address SQL injection risk and error swallowing
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: address PR review feedback - improve error handling and validation
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src/routes/mood/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: address PR review feedback - add validation and improve code safety
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src/lib/components/mood/ActivitySelector.svelte
  src/routes/mood/+page.svelte
  src/routes/mood/activities/+page.svelte
  src/routes/mood/history/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

chore: update package-lock.json after npm install
  package-lock.json
Due: none

fix: correct SQL query building and Option handling
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: use MIN_CORRELATION_SAMPLE_SIZE constant in query
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: properly propagate database errors in get_mood_stats
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: resolve lifetime issue in get_mood_history limit parameter
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address clippy warnings for cleaner code
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: increase icon validation limit to support compound emojis
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: use parameterized query for constant and add schema constraint
  src-tauri/src/db/migrations/001_initial_schema.sql
  src-tauri/src/features/mood/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: address remaining PR review issues
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src/lib/components/mood/ActivityForm.svelte
  src/lib/components/mood/ActivitySelector.svelte
  src/lib/components/mood/MoodScaleInput.svelte
  src/routes/mood/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: improve database integrity, security, and performance
  .claude/commands/db.implement.md
  .claude/commands/db.refactor.md
  .claude/commands/db.review.md
  .claude/knowledge/database-patterns.md
  .claude/knowledge/sqlite-anti-patterns.md
  .claude/knowledge/sqlite-reference.md
  CLAUDE.md
  src-tauri/src/db/mod.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/src/features/visualization/mod.rs
  src-tauri/src/features/visualization/models.rs
  src-tauri/src/features/visualization/queries.rs
  src-tauri/src/features/visualization/repository.rs
  src-tauri/tests/test_database.rs
  src-tauri/tests/test_visualization.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

docs: address PR review comments - add security documentation
  src-tauri/src/db/mod.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/src/features/visualization/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: resolve CI test failures for visualization tests
  src-tauri/tests/test_visualization.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: extract query builder helper and batch activity validation
  src-tauri/src/db/mod.rs
  src-tauri/src/db/query_builder.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/src/features/visualization/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: expose visualization module for test compilation
  src-tauri/src/features/mod.rs
  src-tauri/src/lib.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat: implement assessment scheduling and chart visualizations with comprehensive test coverage
  package-lock.json
  package.json
  specs/001-mental-health-tracking/tasks.md
  src-tauri/src/features/mod.rs
  src-tauri/src/features/scheduling/commands.rs
  src-tauri/src/features/scheduling/mod.rs
  src-tauri/src/features/scheduling/models.rs
  src-tauri/src/features/scheduling/queries.rs
  src-tauri/src/features/scheduling/repository.rs
  src-tauri/src/features/scheduling/scheduler.rs
  src-tauri/src/lib.rs
  src-tauri/tests/test_activities.rs
  src-tauri/tests/test_assessments.rs
  src-tauri/tests/test_mood.rs
  src-tauri/tests/test_scheduling.rs
  src/lib/bindings.ts
  src/lib/components/charts/ActivityCorrelationChart.svelte
  src/lib/components/charts/AssessmentChart.svelte
  src/lib/components/charts/ChartStatistics.svelte
  src/lib/components/charts/MoodChart.svelte
  src/lib/components/charts/TimeRangeSelector.svelte
  src/lib/components/scheduling/ScheduleForm.svelte
  src/lib/components/scheduling/ScheduleForm.test.ts
  src/lib/components/scheduling/ScheduleList.svelte
  src/lib/components/scheduling/ScheduleList.test.ts
  src/lib/utils/chart-config.ts
  src/routes/charts/+page.svelte
  src/routes/mood/history/+page.svelte
  src/routes/settings/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: implement database security and performance improvements
  src-tauri/src/db/migrations.rs
  src-tauri/src/db/migrations/002_add_schedule_index.sql
  src-tauri/src/features/scheduling/models.rs
  src-tauri/src/features/scheduling/repository.rs
  src-tauri/src/features/scheduling/scheduler.rs
  src-tauri/src/lib.rs
  src-tauri/tests/test_mood.rs
  src-tauri/tests/test_scheduling.rs
  src/lib/components/charts/ActivityCorrelationChart.svelte
  src/lib/components/scheduling/ScheduleList.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: resolve TypeScript type errors with improved type safety
  TEST_COVERAGE_ANALYSIS.md
  sqllite-links.md
  sqllite-topics.md
  src-tauri/src/routes/settings/+page.svelte
  src/lib/components/charts/ActivityCorrelationChart.svelte
  src/lib/components/charts/ActivityCorrelationChart.test.ts
  src/lib/components/charts/AssessmentChart.svelte
  src/lib/components/charts/AssessmentChart.test.ts
  src/lib/components/charts/ChartStatistics.test.ts
  src/lib/components/charts/MoodChart.svelte
  src/lib/components/charts/MoodChart.test.ts
  src/lib/components/charts/TimeRangeSelector.test.ts
  src/lib/components/scheduling/ScheduleForm.test.ts
  src/lib/components/scheduling/ScheduleList.test.ts
  src/lib/utils/chart-config.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript compilation errors in frontend tests and components
  src/lib/components/charts/ActivityCorrelationChart.svelte
  src/lib/components/charts/AssessmentChart.svelte
  src/lib/components/charts/MoodChart.svelte
  src/lib/components/scheduling/ScheduleForm.test.ts
  src/lib/components/scheduling/ScheduleList.test.ts
  src/lib/utils/chart-config.ts
Due: prettier --write, eslint --fix

feat: implement UX enhancements with loading states, dark mode, retry logic, and accessibility
  specs/001-mental-health-tracking/tasks.md
  src/lib/components/charts/AssessmentChart.svelte
  src/lib/components/charts/AssessmentChart.test.ts
  src/lib/components/charts/MoodChart.svelte
  src/lib/components/charts/MoodChart.test.ts
  src/lib/components/mood/ActivitySelector.svelte
  src/lib/components/mood/MoodHistoryList.svelte
  src/lib/components/ui/LoadingSpinner.svelte
  src/lib/components/ui/SkeletonLoader.svelte
  src/lib/components/ui/ThemeToggle.svelte
  src/lib/stores/theme.ts
  src/lib/utils/retry.test.ts
  src/lib/utils/retry.ts
  src/routes/+error.svelte
  src/routes/+layout.svelte
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: add dashboard assessment scores with comprehensive testing improvements
  README.md
  __mocks__/$app/environment.ts
  __mocks__/$app/navigation.ts
  __mocks__/$app/stores.ts
  specs/001-mental-health-tracking/checklists/ux.md
  specs/001-mental-health-tracking/spec.md
  specs/001-mental-health-tracking/tasks.md
  src-tauri/capabilities/default.json
  src-tauri/src/features/scheduling/scheduler.rs
  src/lib/components/charts/ActivityCorrelationChart.test.ts
  src/lib/components/charts/AssessmentChart.integration.test.ts
  src/lib/components/charts/AssessmentChart.test.ts
  src/lib/components/charts/MoodChart.test.ts
  src/lib/components/dashboard/AssessmentScoreBar.svelte
  src/lib/components/dashboard/AssessmentScoreBar.test.ts
  src/lib/components/dashboard/DashboardScores.svelte
  src/lib/components/dashboard/DashboardScores.test.ts
  src/lib/utils/chart-config.test.ts
  src/lib/utils/chart-config.ts
  src/lib/utils/severity.test.ts
  src/lib/utils/severity.ts
  src/routes/+page.svelte
  src/routes/charts/+page.svelte
  vitest.config.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: address PR #21 feedback with code quality and UX improvements
  src-tauri/src/features/scheduling/scheduler.rs
  src/lib/components/dashboard/DashboardScores.svelte
  src/lib/components/ui/LoadingSpinner.svelte
  src/lib/components/ui/SkeletonLoader.svelte
  src/lib/stores/theme.ts
  src/lib/utils/retry.ts
  src/routes/+error.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: format severity levels for user-friendly display
  src/lib/components/dashboard/DashboardScores.svelte
  src/lib/components/dashboard/DashboardScores.test.ts
  src/routes/assessments/history/+page.svelte
Due: prettier --write, eslint --fix

fix: address PR feedback - dark mode and memory leak fixes
  src/lib/components/dashboard/DashboardScores.svelte
  src/lib/components/ui/SkeletonLoader.svelte
Due: prettier --write, eslint --fix

refactor: migrate Button component to Svelte 5 with tests
  .gitignore
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/Button.test.ts
Due: prettier --write, eslint --fix

refactor: migrate Input component to Svelte 5 with tests
  src/lib/components/ui/Input.svelte
  src/lib/components/ui/Input.test.ts
Due: prettier --write, eslint --fix

refactor: migrate Select to Svelte 5 with tests
  src/lib/components/ui/Select.svelte
  src/lib/components/ui/Select.test.ts
Due: prettier --write, eslint --fix

refactor: migrate AssessmentList to Svelte 5 with tests
  src/lib/components/assessments/AssessmentList.svelte
  src/lib/components/assessments/AssessmentList.test.ts
Due: prettier --write, eslint --fix

refactor: migrate AssessmentResults to Svelte 5 with tests
  src/lib/components/assessments/AssessmentResults.svelte
  src/lib/components/assessments/AssessmentResults.test.ts
Due: prettier --write, eslint --fix

refactor: migrate AssessmentForm to Svelte 5 with tests
  src/lib/components/assessments/AssessmentForm.svelte
  src/lib/components/assessments/AssessmentForm.test.ts
Due: prettier --write, eslint --fix

fix: adjust AssessmentResults test for whitespace in rendered text
  src/lib/components/assessments/AssessmentResults.test.ts
Due: prettier --write, eslint --fix
