Repository dwalleck/mental-health-bar-rs: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: extract sanitize_optional_text utility function
  REPOSITORY-BEST-PRACTICES.md
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: update property-based tests to use character counting
  src-tauri/tests/test_property_based.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

docs: mark Week 1 tasks as complete (29/107 tasks done)
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

feat(activities): implement activity goals and reporting (Week 2 - Tasks 2.1-2.17)
  src-tauri/src/features/activities/models.rs
  src-tauri/src/features/activities/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat(activities): add Tauri commands layer for Week 2 features (Tasks 2.18-2.30)
  src-tauri/src/features/activities/commands.rs
  src-tauri/src/features/activities/mod.rs
  src-tauri/src/features/activities/queries.rs
  src-tauri/src/lib.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix(tests): resolve Windows test execution issues
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.toml
  src-tauri/TESTING.md
  src-tauri/src/lib.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix(tests): remove redundant disabled test file
  src-tauri/tests/test_activity_groups.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

Add svelte and rust skills
  .claude/hooks/skill-activation-prompt.sh
  .claude/settings.json
  .claude/skills/rust-developer/SKILL.md
  .claude/skills/rust-developer/rust-patterns.md
  .claude/skills/skill-rules.json
  .claude/skills/svelte-skill/README.md
  .claude/skills/svelte-skill/SKILL.md
  .claude/skills/svelte-skill/resources/advanced-concepts-1.md
  .claude/skills/svelte-skill/resources/advanced-concepts-2.md
  .claude/skills/svelte-skill/resources/compiler-errors-1.md
  .claude/skills/svelte-skill/resources/compiler-errors-2.md
  .claude/skills/svelte-skill/resources/compiler-warnings-1.md
  .claude/skills/svelte-skill/resources/compiler-warnings-2.md
  .claude/skills/svelte-skill/resources/components.md
  .claude/skills/svelte-skill/resources/directives-animations.md
  .claude/skills/svelte-skill/resources/directives-bind-use.md
  .claude/skills/svelte-skill/resources/faqs-1.md
  .claude/skills/svelte-skill/resources/faqs-2.md
  .claude/skills/svelte-skill/resources/migration-svelte4.md
  .claude/skills/svelte-skill/resources/migration-svelte5-1.md
  .claude/skills/svelte-skill/resources/migration-svelte5-2.md
  .claude/skills/svelte-skill/resources/runes-derived-effect.md
  .claude/skills/svelte-skill/resources/runes-props-utilities.md
  .claude/skills/svelte-skill/resources/runes-state.md
  .claude/skills/svelte-skill/resources/runtime-errors-1.md
  .claude/skills/svelte-skill/resources/runtime-errors-2.md
  .claude/skills/svelte-skill/resources/special-elements.md
  .claude/skills/svelte-skill/resources/styling.md
  .claude/skills/svelte-skill/resources/template-control-flow.md
  .claude/skills/svelte-skill/resources/template-snippets.md
  .claude/skills/svelte-skill/resources/typescript.md
Due: none

docs: update Week 2 progress tracking (30/32 tasks complete)
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

feat(week3): create activity groups page route (Tasks 2.31, 3.1)
  src/lib/bindings.ts
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

feat(ui): add ActivityGroupList component with expand/collapse (Tasks 3.2-3.3)
  .claude/hooks/skill-activation-prompt.sh
  .claude/skills/skill-rules.json
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

feat(ui): add ActivityGroupForm modal component (Task 3.4)
  src/lib/components/activity-groups/ActivityGroupForm.svelte
Due: prettier --write, eslint --fix

feat(ui): wire up Add Group button functionality (Task 3.5)
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

feat(ui): implement Edit Group button functionality (Task 3.6)
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

feat(ui): implement delete group with confirmation dialog (Task 3.7)
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

refactor(ui): apply Svelte 5 code review improvements
  src/lib/components/activity-groups/ActivityGroupForm.svelte
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

docs: update Week 3 progress (tasks 2.31, 3.1-3.7 complete)
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

feat(ui): add activity group selector to activity management (Tasks 3.8-3.9)
  src/lib/components/mood/ActivityForm.svelte
  src/routes/mood/activities/+page.svelte
Due: prettier --write, eslint --fix

feat(ui): add IconPicker component with Heroicons validation (Task 3.10)
  src/lib/components/mood/ActivityForm.svelte
  src/lib/components/ui/IconPicker.svelte
Due: prettier --write, eslint --fix

feat(ui): display activities grouped by Activity Group (Task 3.11)
  src/lib/components/mood/ActivityList.svelte
  src/routes/mood/activities/+page.svelte
Due: prettier --write, eslint --fix

feat(ui): add Move to Group action for activities (Task 3.12)
  src/lib/components/mood/ActivityList.svelte
  src/routes/mood/activities/+page.svelte
Due: prettier --write, eslint --fix

fix: address PR review comments (critical and medium priority)
  src/lib/components/activity-groups/ActivityGroupForm.svelte
  src/lib/components/mood/ActivityList.svelte
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

refactor: use generated commands from bindings instead of raw invoke
  src/lib/components/activity-groups/ActivityGroupForm.svelte
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

test: fix ActivityForm and ActivityList tests for Week 3 changes
  src/lib/components/mood/ActivityForm.test.ts
  src/lib/components/mood/ActivityList.test.ts
Due: prettier --write, eslint --fix

feat(ui): implement Activity Logging Interface (Tasks 3.14-3.17)
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src/lib/components/activity-logs/ActivityLogButton.svelte
  src/lib/components/activity-logs/ActivityLogHistory.svelte
Due: prettier --write, eslint --fix

refactor: use commands pattern consistently in activity-groups page
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

feat(goals): implement Goal Setting UI components (Tasks 3.18-3.23a)
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/lib/components/goals/GoalProgressIndicator.svelte
  src/lib/components/goals/GoalSettingModal.svelte
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

docs: add future enhancement tasks (20 nice-to-have features)
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

refactor(goals): address PR review comments
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/lib/components/activity-logs/ActivityLogHistory.svelte
  src/lib/components/goals/GoalProgressIndicator.svelte
  src/lib/components/goals/GoalSettingModal.svelte
  src/lib/constants/activities.ts
Due: prettier --write, eslint --fix

fix: address critical issues and performance recommendations
  dev/active/major-refactoring-2025/REVISED-tasks.md
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/lib/components/activity-logs/ActivityLogHistory.svelte
  src/lib/components/goals/GoalSettingModal.svelte
Due: prettier --write, eslint --fix

refactor(goals): address PR review feedback
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/lib/components/activity-logs/ActivityLogHistory.svelte
  src/lib/components/goals/GoalProgressIndicator.svelte
  src/lib/components/goals/GoalSettingModal.svelte
Due: prettier --write, eslint --fix

feat(activities): implement note editing and shared date utilities
  src-tauri/src/features/activities/commands.rs
  src-tauri/src/features/activities/repository.rs
  src-tauri/src/lib.rs
  src/lib/bindings.ts
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/lib/components/activity-logs/ActivityLogHistory.svelte
  src/lib/components/assessments/AssessmentForm.test.ts
  src/lib/components/assessments/AssessmentList.test.ts
  src/lib/components/assessments/AssessmentResults.svelte
  src/lib/components/assessments/AssessmentResults.test.ts
  src/lib/components/examples/ErrorHandlingExample.svelte
  src/lib/components/goals/GoalSettingModal.svelte
  src/lib/utils/date.ts
  src/routes/+page.svelte
  src/routes/assessments/+page.svelte
  src/routes/assessments/[type]/+page.svelte
  src/routes/assessments/[type]/result/[id]/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: address PR feedback for transaction safety and code simplification
  src-tauri/src/features/activities/repository.rs
  src/lib/components/activity-groups/ActivityGroupList.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

docs: add FE-25 future task for lock error handling
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

fix: address PR feedback for memory leaks, UX, and maintainability
  src/lib/components/activity-groups/ActivityGroupList.svelte
  src/lib/components/activity-logs/ActivityLogHistory.svelte
  src/lib/components/goals/GoalSettingModal.svelte
  src/lib/constants/activities.ts
  src/routes/activity-groups/+page.svelte
Due: prettier --write, eslint --fix

fix(migrations): resolve foreign key constraint failure in migration 003
  src-tauri/src/db/migrations.rs
  src-tauri/src/db/migrations/003_activity_groups.sql
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat(reporting): implement Activity Reports dashboard (Tasks 4.1-4.4)
  src/lib/components/charts/ActivityReportCard.svelte
  src/lib/components/charts/ActivityTrendChart.svelte
  src/lib/components/charts/GoalProgressDashboard.svelte
  src/routes/charts/+page.svelte
Due: prettier --write, eslint --fix

test: add comprehensive integration tests (Tasks 4.5-4.14)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tests/test_activity_groups_integration.rs
  src/lib/components/activity-groups/ActivityGroupList.test.ts
  src/lib/components/activity-logs/ActivityLogButton.test.ts
  src/lib/components/goals/GoalSettingModal.test.ts
  vitest.setup.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

docs: update REVISED-tasks.md - mark integration testing complete (4.5-4.14)
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

docs: mark reporting components complete (4.1-4.4)
  dev/active/major-refactoring-2025/REVISED-tasks.md
Due: none

Path conditions:
  bash -c 'cd src-tauri && cargo fmt': any of: src-tauri/**/*.rs
  bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true': any of: src-tauri/**/*.rs
  prettier --write: ((any of: src/**/*.{ts,js}) or (any of: src/**/*.svelte)) or (any of: src/**/*.css)
  eslint --fix: (any of: src/**/*.{ts,js}) or (any of: src/**/*.svelte)
