Repository dwalleck/mental-health-bar-rs: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

.lintstagedrc.json:

{
  "src-tauri/**/*.rs": [
    "bash -c 'cd src-tauri && cargo fmt'",
    "bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'"
  ],
  "src/**/*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.svelte": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.css": [
    "prettier --write"
  ]
}

test: add comprehensive tests for LoadingSpinner and ThemeToggle
  src/lib/components/ui/LoadingSpinner.test.ts
  src/lib/components/ui/ThemeToggle.test.ts
Due: prettier --write, eslint --fix

test: add comprehensive tests for MoodScaleInput (29 tests)
  src/lib/components/mood/MoodScaleInput.test.ts
Due: prettier --write, eslint --fix

test: add comprehensive tests for ActivityForm component
  src/lib/components/mood/ActivityForm.test.ts
Due: prettier --write, eslint --fix

test: add comprehensive tests for ActivityList component
  src/lib/components/mood/ActivityList.test.ts
Due: prettier --write, eslint --fix

test: add comprehensive tests for MoodHistoryList component
  src-tauri/src/features/mood/repository.rs
  src-tauri/src/features/scheduling/repository.rs
  src/lib/components/mood/MoodHistoryList.test.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: migrate chart components to Svelte 5
  src/lib/components/charts/ActivityCorrelationChart.svelte
  src/lib/components/charts/AssessmentChart.svelte
  src/lib/components/charts/MoodChart.svelte
Due: prettier --write, eslint --fix

refactor: migrate ScheduleForm to Svelte 5
  src/lib/components/scheduling/ScheduleForm.svelte
Due: prettier --write, eslint --fix

refactor: migrate ScheduleList to Svelte 5
  src/lib/components/scheduling/ScheduleList.svelte
Due: prettier --write, eslint --fix

refactor: migrate all route pages to Svelte 5
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/assessments/history/+page.svelte
  src/routes/charts/+page.svelte
  src/routes/mood/+page.svelte
  src/routes/mood/activities/+page.svelte
  src/routes/mood/history/+page.svelte
Due: prettier --write, eslint --fix

ci: add coverage enforcement to frontend tests
  .github/workflows/ci.yml
Due: none

refactor: clarify theme store media query update logic
  src/lib/stores/theme.ts
Due: prettier --write, eslint --fix

feat: add toast notification system for non-blocking feedback
  src/lib/components/ui/Toast.svelte
  src/lib/components/ui/Toast.test.ts
  src/lib/stores/toast.test.ts
  src/lib/stores/toast.ts
  src/lib/utils/toast-examples.md
  src/routes/+layout.svelte
Due: prettier --write, eslint --fix

refactor: centralize validation constants across features
  src-tauri/src/constants.rs
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/repository.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/repository.rs
  src-tauri/src/lib.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: enhance error messages with actionable context in assessment commands
  src-tauri/src/features/assessments/commands.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: migrate retry logic to p-retry and add centralized error handling
  package-lock.json
  package.json
  src/lib/utils/errors.test.ts
  src/lib/utils/errors.ts
  src/lib/utils/retry.test.ts
  src/lib/utils/retry.ts
  src/routes/assessments/history/+page.svelte
  src/routes/mood/+page.svelte
  src/routes/mood/activities/+page.svelte
Due: prettier --write, eslint --fix

feat: enhance database file permission security on Unix systems
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/db/mod.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: make CI coverage upload strict but optional
  .github/workflows/ci.yml
Due: none

Revert "fix: make CI coverage upload strict but optional"
  .github/workflows/ci.yml
Due: none

feat: add #[must_use] to all repository trait methods
  src-tauri/src/features/assessments/repository_trait.rs
  src-tauri/src/features/mood/repository_trait.rs
  src-tauri/src/features/scheduling/repository_trait.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

refactor: use CSS custom properties for skeleton loader theming
  src/lib/components/ui/SkeletonLoader.svelte
Due: prettier --write, eslint --fix

refactor: use repository trait bounds in commands for compile-time verification
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/repository_trait.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/repository_trait.rs
  src-tauri/src/features/scheduling/commands.rs
  src-tauri/src/features/scheduling/repository_trait.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat: implement structured error handling with retryable flag (PR feedback)
  specs/001-mental-health-tracking/tasks.md
  src-tauri/src/errors.rs
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/models.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/scheduling/commands.rs
  src-tauri/src/features/scheduling/models.rs
  src-tauri/src/lib.rs
  src/lib/bindings.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

docs: document complete scope for structured error handling
  specs/001-mental-health-tracking/tasks.md
Due: none

feat: add rich error context to all mutation commands
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/scheduling/commands.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

feat: add command-level input validation for fail-fast error handling
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/scheduling/commands.rs
  src-tauri/src/features/scheduling/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: apply _with_conn pattern to prevent race conditions in delete_assessment_type
  src-tauri/src/features/assessments/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: update frontend types for structured error handling
  src-tauri/src/features/scheduling/models.rs
  src/lib/components/assessments/AssessmentForm.svelte
  src/lib/components/assessments/AssessmentForm.test.ts
  src/lib/components/assessments/AssessmentList.test.ts
  src/lib/components/assessments/AssessmentResults.test.ts
  src/lib/components/mood/MoodScaleInput.test.ts
  src/lib/components/scheduling/ScheduleForm.svelte
  src/lib/components/scheduling/ScheduleForm.test.ts
  src/lib/components/scheduling/ScheduleList.svelte
  src/lib/components/scheduling/ScheduleList.test.ts
  src/lib/stores/mood.test.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

fix: restore repository-level validation for defense-in-depth
  src-tauri/src/features/scheduling/repository.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

fix: resolve theme store race condition when system theme changes
  src/lib/stores/theme.test.ts
  src/lib/stores/theme.ts
Due: prettier --write, eslint --fix

chore: apply formatting cleanup and regenerate bindings
  src-tauri/src/features/scheduling/models.rs
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true'

docs: add statement caching optimization to T187 subtasks
  specs/001-mental-health-tracking/tasks.md
Due: none

fix: resolve TypeScript errors in test files
  src/lib/components/charts/AssessmentChart.integration.test.ts
  src/lib/components/dashboard/DashboardScores.test.ts
  src/lib/components/mood/ActivityForm.test.ts
  src/lib/components/mood/ActivityList.test.ts
  src/lib/components/mood/ActivitySelector.test.ts
  src/lib/components/mood/MoodHistoryList.test.ts
  src/lib/stores/theme.test.ts
  src/lib/utils/chart-config.test.ts
Due: prettier --write, eslint --fix

feat: implement comprehensive error handling with CommandError and toast notifications
  src-tauri/src/features/assessments/queries.rs
  src-tauri/src/features/mood/queries.rs
  src-tauri/src/features/scheduling/queries.rs
  src-tauri/src/features/visualization/models.rs
  src-tauri/src/features/visualization/queries.rs
  src/lib/components/assessments/AssessmentForm.svelte
  src/lib/components/assessments/AssessmentForm.test.ts
  src/lib/components/assessments/AssessmentList.svelte
  src/lib/components/assessments/AssessmentList.test.ts
  src/lib/components/assessments/AssessmentResults.svelte
  src/lib/components/assessments/AssessmentResults.test.ts
  src/lib/components/dashboard/DashboardScores.svelte
  src/lib/components/examples/ErrorHandlingExample.svelte
  src/lib/components/mood/ActivityForm.svelte
  src/lib/components/mood/ActivitySelector.svelte
  src/lib/components/mood/ActivitySelector.test.ts
  src/lib/components/mood/MoodHistoryList.svelte
  src/lib/components/mood/MoodHistoryList.test.ts
  src/lib/components/scheduling/ScheduleForm.svelte
  src/lib/components/scheduling/ScheduleForm.test.ts
  src/lib/components/scheduling/ScheduleList.svelte
  src/lib/components/scheduling/ScheduleList.test.ts
  src/lib/components/ui/ErrorMessage.svelte
  src/lib/utils/errors.ts
  src/lib/utils/retry.ts
  src/routes/+page.svelte
  src/routes/assessments/history/+page.svelte
  src/routes/charts/+page.svelte
  src/routes/mood/+page.svelte
  src/routes/mood/activities/+page.svelte
  src/routes/mood/history/+page.svelte
  src/routes/test-toasts/+page.svelte
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

feat: add professional Tailwind UI components
  src/lib/bindings.ts
  src/lib/components/ui/AnnouncementBanner.svelte
  src/lib/components/ui/Combobox.svelte
  src/lib/components/ui/DataTable.svelte
  src/lib/components/ui/FormLayout.svelte
  src/lib/components/ui/Modal.svelte
  src/lib/components/ui/SidebarLayout.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/ui-showcase-simple/+page.svelte
  src/routes/ui-showcase/+page.svelte
Due: prettier --write, eslint --fix

fix: resolve all ESLint and Svelte compiler warnings
  src/lib/components/dashboard/DashboardScores.svelte
  src/lib/components/ui/AnnouncementBanner.svelte
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/Card.svelte
  src/lib/components/ui/Combobox.svelte
  src/lib/components/ui/DataTable.svelte
  src/lib/components/ui/FormLayout.svelte
  src/lib/components/ui/Modal.svelte
  src/lib/components/ui/SidebarLayout.svelte
  src/routes/ui-showcase-simple/+page.svelte
  src/routes/ui-showcase/+page.svelte
Due: prettier --write, eslint --fix

refactor: address PR review feedback - improve error handling patterns
  src-tauri/src/errors.rs
  src-tauri/src/features/assessments/models.rs
  src/lib/components/ui/ErrorMessage.svelte
  src/lib/components/ui/ErrorMessage.test.ts
  src/lib/utils/errors.ts
  src/lib/utils/retry.ts
  src/lib/utils/types.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix

refactor: implement ToCommandError trait for all error types
  src-tauri/src/errors.rs
  src-tauri/src/features/assessments/commands.rs
  src-tauri/src/features/assessments/queries.rs
  src-tauri/src/features/mood/commands.rs
  src-tauri/src/features/mood/models.rs
  src-tauri/src/features/mood/queries.rs
  src-tauri/src/features/scheduling/commands.rs
  src-tauri/src/features/scheduling/models.rs
  src-tauri/src/features/scheduling/queries.rs
  src-tauri/src/features/visualization/models.rs
  src-tauri/src/features/visualization/queries.rs
  src/lib/utils/types.ts
Due: bash -c 'cd src-tauri && cargo fmt', bash -c 'cd src-tauri && cargo clippy --fix --allow-dirty --allow-staged -- -D warnings || true', prettier --write, eslint --fix
